.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", "Arial", "sans-serif";
}

.header, 
.logo_place_header,
.header__title,
.header__subtitle,
.header__main-illustration,
.header__square {
  border: 1px solid red;
}

.logo {
  
}

.header {
  width: 100vw;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  /* parameters for the header section */
}

.logo_place_header {
  background-image: url(../images/logo_place_header.png);
  background-size: contain;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 9;
  width: 154px;
  height: 31px;
}

.header__title {
  width: 730px;
  display: flex;
  align-items: center;
  margin-left: 64px;
  z-index: 9;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 9;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
}

.header__main-illustration {
  width: 756px;
  height: 608px;
  background-image: url(../images/header-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 6;
}

.header__square {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0px;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements
.header__square-pic {
  height: 568px;
  width: 568px;
}/*

/* including elements with key-value modifiers
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}/*
